<h1>
  {{genderReport}}
</h1>

<div *ngIf="genderChartData">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="genderChartData"
      [labels]="genderLabels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="colors">
  </canvas>
</div>