<div class="container">
	<form (ngSubmit)="onSubmit()" #personFrom="ngForm" ngNativeValidate>

      	<div class="form-group">
	        <label for="nome">Name</label>
	        <input type="text" class="form-control" id="nome" name="nome" required [(ngModel)]="person.nome">
      	</div>

		<div class="form-group">
	        <label for="dataNascimento">Birth Date</label>
	        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required [(ngModel)]="person.dataNascimento">
      	</div>

		<div class="form-group">
	        <label for="identificacao">Document</label>
	        <input type="text" class="form-control" id="identificacao" name="identificacao" required [(ngModel)]="person.identificacao">
		</div>

		<div class="form-group">
		  <label for="sexo">Gender</label>
		  <select class="form-control" id="sexo" name="sexo" required [(ngModel)]="person.sexo">
		  	<option *ngFor="let sexo of sexos" [ngValue]="sexo.value">
				{{ sexo.name }}
			</option>
		  </select>
		</div>

		<div class="form-group">
	        <label for="endereco">Adress</label>
	        <input type="text" class="form-control" id="endereco" name="endereco" [(ngModel)]="person.endereco">
		</div>

		<a routerLink="/people">Cancelar</a>

		<button type="submit" class="btn btn-success" [disabled]="!personFrom">Submit</button>

	</form>
</div>