<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/people">Pessoas</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/peopleReport">Relatório de pessoas</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>