<form>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="searchString" placeholder="Pesquise..." [(ngModel)]="searchString">
        </div>
    </div>
</form>

<table>
  <tr>

    <th></th>
    <th></th>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Document</th>
    <th>Gender</th>
    <th>Adress</th>

  </tr>
  <tr *ngFor="let person of people | filter : 'nome' : searchString; let i = index">
    <td>
      <button (click)="deletePerson(person.id)">Deletar pessoa</button>
    </td>
    <td>
      <a routerLink="/person/{{person.id}}">Editar pessoa</a>
    </td>
    <td>
      {{person.nome}}
    </td>
	<td>
      {{person.dataNascimento}}
    </td>
	<td>
      {{person.identificacao}}
    </td>
	<td>
      {{person.sexo}}
    </td>
	<td>
      {{person.endereco}}
    </td>
  </tr>

</table>