<h1>
  {{ageReport}}
</h1>

<div *ngIf="ageChartData">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="ageChartData"
      [labels]="ageLabels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="colors">
  </canvas>
</div>