<div class="container">
	<form (ngSubmit)="onSubmit()" #newPersonFrom="ngForm" ngNativeValidate>

      	<div class="form-group">
	        <label for="newNome">Name</label>
	        <input type="text" class="form-control" id="newNome" name="newNome" required [(ngModel)]="person.nome">
      	</div>

		<div class="form-group">
	        <label for="newDataNascimento">Birth Date</label>
	        <input type="date" class="form-control" id="newDataNascimento" name="newDataNascimento" required [(ngModel)]="person.dataNascimento">
      	</div>

		<div class="form-group">
	        <label for="newIdentificacao">Document</label>
	        <input type="text" class="form-control" id="newIdentificacao" name="newIdentificacao" required [(ngModel)]="person.identificacao">
		</div>

		<div class="form-group">
		  <label for="newSexo">Gender</label>
		  <select class="form-control" id="newSexo" name="newSexo" required [(ngModel)]="person.sexo">
		  	<option *ngFor="let sexo of sexos" [ngValue]="sexo.value">
				{{ sexo.name }}
			</option>
		  </select>
		</div>

		<div class="form-group">
	        <label for="newEndereco">Adress</label>
	        <input type="text" class="form-control" id="newEndereco" name="newEndereco" [(ngModel)]="person.endereco">
		</div>

		<a routerLink="/people">Cancelar</a>

		<button type="submit" class="btn btn-success" [disabled]="!newPersonFrom">Submit</button>

	</form>
</div>